body{
    background: rgb(250, 246, 251);
    padding-top: 80px;
}
header{
    
    a:hover{

	font-size:20px;
}
}
h1{
    color:rgb(0, 0, 0);
text-align: center;
width: 100%;
}
nav{
    position: fixed;
    width: 100%;
   top: 0;
   left: 0;
   z-index: 1000;
   background-color: rgb(234, 220, 246)  ;
}


    

ul{
   
    display: flex;
    justify-content: center;
    align-items: center;
  
    

}

ul li{
    list-style: none;
    text-align: center;
    margin: 10px 20px 10px 0px;
    font-size: 16px;
    
}

ul li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
    font-weight: bold;
  
}

ul li a:hover{
    color:rgb(255, 255, 255);
}


h2{
    color: black;
    text-align: center;
    margin: 10px;
    background:  rgb(220, 210, 241);
    

}

section{
   
   background: white;
   
    
    margin-top: 50px;
    line-height: 60px;
   
    width: 90%;
    max-width: 400PX;
    margin: 50PX auto;
    text-align: center;
    padding: 20PX;

    .btnn{

    width: 70%;
    height: 35px;
    background: rgb(220, 210, 241);
    margin: 20px auto;
    
    border: none;
  
    
}

.btnn a{
    text-decoration: none;
    color: rgb(91, 15, 255);
    font-weight: bold;
  

}



}
input[type="text"]{
    background-color: white;
    color:black ;
   
    line-height: 15px;
    height: 20px;
    width: 70%;
}


textarea{
    width: 70%;
    
    
    height: 43px;
    margin: 10px auto;
}
footer{
  
    text-align: center;
    margin-top: 50px;
    width: 100%;

     a{
      color: rgb(194, 24, 250);
    }
    a:hover{
        font-size: 20px;
        color: rgb(250, 24, 24);
    }
}
